ALCHEMY_API_TESTNET_URL="https://eth-goerli.alchemyapi.io/v2/YOUR_KEY_HERE"
ALCHEMY_API_MAINNET_URL="https://api.avax.network/ext/bc/C/rpc"
PRIVATE_KEY="enter private key"
ADDRESS="enter wallet address"

MNEMONIC_PHRASE=""
TELEGRAM_ON="false"
TELEGRAM_API_KEY=enter telegram api key //exclude quotes
TELEGRAM_CHAT_ID=enter telegram chat id